beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
Pillow==9.0.1
qrcode==6.1
reportlab==3.5.59
requests==2.25.1
six==1.15.0
soupsieve==2.2
tabulate==0.8.7
urllib3==1.26.5
